body {
  background:url(../../../assets/registration.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: fit-content;
  font-family: 'Hind Siliguri', sans-serif;
  margin-bottom: 0;
}
.content{
  background-color: black;
}
h3.w3layouts {
  font-size: 4.2em;
  color: #fff;
  font-family: 'Atma', fantasy;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 1px 1px 11px rgba(12, 12, 12, 0.75);
}
.header{
  background: rgba(0, 0, 0, 0.81);
  overflow: hidden;
}
.header-section{
  text-align: center;
  padding-top: 60px;
}
.headline{
  color: #fff;
  display: flex ;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h2{
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin: 15px 0 25px;
  color: white;
}
.home-content{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.home-raw{
  background-color: rgba(0, 0, 0, 0.69);
  display: flex;
  max-width:920px;
  margin: 40px 0;
  color: rgba(255, 255, 255, 0.54);
}
.description{
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}
.icon{
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  width: 100px;
}
.description-header{
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 16px;
  padding: 0;
}
.description-content{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 24px;
  padding: 0;
}
.footer{
  padding: 12px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
mat-card{
  background-color: rgba(0,0,0,0);
}
.logo{
  max-height: 200px;
  max-width: 200px;
  min-width: 50px;
  min-height: 50px;
}
