<body>
<ng-container>
  <div>
    <header class="header">
      <div class="header-section">
        <div class="headline">
            <img src="../../../assets/logo.png" alt="logo" mat-card-image class="logo">
          <div>
            <h3 class="w3layouts">Doneats</h3>
            <div class="clear"></div>
            <h2><i>" Zero hunger.. ! "</i></h2>
          </div>
        </div>
      </div>
    </header>
    <div class="home-content">
      <div class="home-raw">
        <ng-container class="content">
          <app-donation-list></app-donation-list>
        </ng-container>
      </div>
    </div>
    <footer class="footer">
      <h1>Copyrights</h1>
    </footer>
  </div>
</ng-container>
</body>


