<body>
  <h3 class="w3layouts">Doneats</h3>
  <div class="clear"></div>
  <div class="content-w3ls">
    <div class="form_w3layouts">
      <h6> Doneats is a platform for food donates and charity service to utilize wasting food. our goal is to reduce food wastage and hunger around the world.
        cheer for no hunger world..!
      </h6>
      <br>
      <div class="agileits-left" >
        <div class="separator">Have an account...?</div>
      </div>
      <button class="border-success" [routerLink]="['/login']"> Login </button>
      <div class="agileits-left" >
        <div class="separator">New to Doneats...?</div>
      </div>
      <button class="border-success" [routerLink]="['/registration']"> Register </button>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</body>
